* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(229, 229, 229);
  background: linear-gradient(
    90deg,
    rgba(229, 229, 229, 1) 0%,
    rgba(229, 229, 229, 1) 55%,
    rgba(247, 247, 247, 1) 100%
  );
}
.nav {
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}
#loupe {
  width: 25px;
}
.nav a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
#photo_text {
  display: flex;
  align-items: center;
  padding-top: 60px;
  justify-content: center;
  min-width: 1100px;
}
.photo {
  padding-right: 60px;
}
img.responsive {
  width: 700px;
}
.text {
  width: 400px;
}
.mega_sales {
  line-height: 50px;
}
span.mega {
  color: #ff9391;
  font-size: 60px;
  font-weight: bolder;
}
span.sales {
  color: #ffdf78;
  font-size: 90px;
  font-weight: bolder;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: xx-large;
}
h2 {
  padding-bottom: 20px;
}
p {
  font-family: "Montserrat", sans-serif;
}
#first_p {
  padding-bottom: 20px;
}
#button_shop {
  display: flex;
  justify-content: center;
}
#button_shop a {
  color: #ff9391;
  text-decoration: none;
}
#button {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 2px 2px 5px grey;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: larger;
}
.footer {
  text-align: center;
  font-size: larger;
}
span.freepik {
  font-weight: 900;
}

/* responsive  tablette*/

@media screen and (min-width: 768px) {
  #photo_text {
    flex-wrap: wrap;
    padding-top: 50px;
  }
  span.mega {
    margin-top: 20px;
    font-size: 50px;
  }
  span.sales {
    font-size: 80px;
  }
  #button {
    margin-bottom: 20px;
  }
  footer {
    position: unset;
  }
}
@media screen and (min-width: 689px) {
  #photo_text {
    flex-wrap: wrap;
    padding-top: 40px;
  }
  img.responsive {
    width: 500px;
  }
  img.responsive {
    height: auto;
  }
  span.mega {
    margin-top: 20px;
    font-size: 40px;
  }
  span.sales {
    font-size: 60px;
  }
  h2 {
    padding-bottom: 15px;
  }
  #button {
    margin-bottom: 20px;
  }
}
/* responsive mobile */

@media screen and (max-width: 400px) {
}
